<!DOCTYPE html>
<html>
  <head>
    <title>Sensor Debugging</title>
  </head>

  <body>
    <h2>LED Controls</h2>

    <form action="/" method="POST">
      <p><input type="submit" name="submit" value="Turn On"> </p>
      <p><input type="submit" name="submit" value="Turn Off"> </p>
    </form>

    <h2>Ultrasonic Ranger Distance</h2>
    <p>{{distance}}</p>

    <h2>Servo Motor Control</h2>
    <form action="/" method="POST">
      <p><input type="submit" name="submit" value="Turn 90"></p>
    </form>

  </body>
</html>